<main class="index">

    <header class="masthead d-flex">
        <div class="contanier text-center mx-auto">
            <h1 class="mb-1">ecoREC</h1>
            <h3 class="mb-5">
                <em>¡Organiza tus materiales reciclables!</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                ¡Comencemos!
            </a>
        </div>
    </header>

</main>